

deep-translator==1.11.4

dotenv==0.9.9

faiss-cpu==1.12.0

Flask==3.1.2
Flask-SQLAlchemy
psycopg2-binary
gunicorn==23.0.0

Jinja2==3.1.6
jiter==0.11.0
joblib==1.5.2
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
langdetect==1.0.9

markdown-it-py==4.0.0


notion-client==2.5.0
numpy==2.2.6
openai==1.108.0
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2

python-dotenv==1.1.1

PyYAML==6.0.2
rank-bm25==0.2.2

requests==2.32.5

scikit-learn==1.7.2
scipy==1.15.3


urllib3==2.5.0
uvicorn==0.35.0
watchdog==6.0.0
Werkzeug==3.1.1



